body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  width: 100%;
  height: 100%;
  margin: 0;
 
}
ul {
  padding: 0px !important;
}
.menu-topo {
  width: 100%;
  background-color: #003366;
  height: 60px;
}
main {
  width: 1280px;
  position: relative;
  margin: 0 auto;
}
.logo {
  padding: 10px;
  width: 70%;
  float: left;
}
.logo img {
  width: 150;
  height: 43;
}
.redes-sociais {
  padding: 5px;
  width: 20%;
  float: right;
}
.redes-sociais ul li {
  list-style: none;
  float: left;
  margin-left: 15px;
}
.redes-sociais ul li img {
  width: 27px;
  height: 27px;
}
.menu-principal {
  height: 80px;
  border-bottom: 3px solid #efefef;
}
.header-topo2 {
  background-color: #ffffff;
  width: 1280px;
  margin: 0 auto;
  padding: 16px;
}
.menu {
  width: 70%;
  float: left;
}
.menu ul li {
  display: inline;
  margin-left: 15px;
}
.menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #8b8b8b;
  font-size: 18px;
  font-weight: 600;
}
.busca {
  width: 30%;
  float: right;
  text-align: center;

}
.busca input{
    background-image: url(../img/searcher.png);
    background-repeat: no-repeat;
    background-position: 96% ;
    margin-top: 5px;
    height: 36px;
    width: 190px;
    padding: 7px;
    border: 1px solid #d6d6d6;
}
.col-100 {
  width: 100%;
  float: left;
  position: relative;
}
h1{
  margin-left: 20px;
  font-size: 18px;
}
h3{
  margin-left: 20px;
  font-size: 16px
}
input,
select,
textarea,
button {
  font-size: 1em;
}
#ladoalado{
  width: 1280px;
  margin: 0 auto;
  
}
#ladoalado img{
  padding: 10px;
  width: 400px;
  height: 301px;

}
/*.acougue{
  text-align: center;
  float: left;
  font-size: 20;
  font-family: 'Times New Roman', Times, serif;
  color:rgb(53, 53, 53)
}*/
.alunos{

  width: 1280px;
  margin: 0 auto;
 
}
.titles{
  padding: 15px;
  display: inline-block;
  width: 1280px;
}
.titles span{
  font-size: 30px;
  padding: 145px;
}




