#Menu{
    background-color:rgb(241, 92, 87);
    padding: o px;
    margin: o px;
}
body {
    height: 100%;
    margin: 0;
  }

  .wrapper {
    min-height: 100%;
    margin-bottom: -50px;
  }

  .footer,
  .push {
    height: 50px;
  }
